<!doctype html>
<html lang="en">
  <head>
    <title>Admin | Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/practice.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-orange">

        <a class="navbar-brand" href="index.html">EventManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-2">
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item ddown-outline-items" href="createcenter.html">Create Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="editcenter.html">Edit Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="adminlogin.html">Log Out</a>
              </div>
            </li>
          </ul>
          <form class="form-inline">
            <a class="rounded-0 btn btn-outline-light btn-resp text-orange-hover aconform" role="button" type="submit" href="centerevents.html">Browse Centers</a>
          </form>
        </div>
      </nav>
    </header>

    <section>
      <div class="jumbotron jumbotron-fluid bg-purp">
        <div class="container">
          <h1 class="text-center text-light mt-5">Welcome, Admin</h1>
          <p class="lead text-center text-light">Have fun managing your centers</p>
        </div>
      </div>
    </section>
    <section class="my-5">
      <div class="container">
        <div class="card-deck">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/felglitz.jpg" alt="Card image cap">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4 class="card-title">Felglitz Hall</h4></li>
                <li class="list-group-item"><p class="card-text">Victoria Island, Lagos</p></li>
                <li class="list-group-item"><p class="card-text">700 Capacity</p></li>
              </ul>
              <div class="d-flex justify-content-center mt-2">
                <a type="button" class="d-flex btn btn-outline-orange aconform" href="editcenter.html">Edit</a>
              </div>
            </div>
          </div>

          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/texas.jpg" alt="Card image cap">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4 class="card-title">Beefal Center</h4></li>
                <li class="list-group-item"><p class="card-text">Keffi, Nasarawa</p></li>
                <li class="list-group-item"><p class="card-text">200 Capacity</p></li>
              </ul>
              <div class="d-flex justify-content-center mt-2">
                <a type="button" class="d-flex btn btn-outline-orange aconform" href="editcenter.html">Edit</a>
              </div>
            </div>
          </div>

          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/orlando.jpg" alt="Card image cap">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4 class="card-title">Havillah Hall</h4></li>
                <li class="list-group-item"><p class="card-text">Igrueta, Port Harcourt</p></li>
                <li class="list-group-item"><p class="card-text">400 Capacity</p></li>
              </ul>
              <div class="d-flex justify-content-center mt-2">
                <a type="button" class="d-flex btn btn-outline-orange aconform" href="editcenter.html">Edit</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
   <!--  </section>
      <section class="my-5">
      <div class="container">
        <div class="card-deck">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/userevent.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Falodun's Birthday Party</h4>
              <p class="card-text">Lekki, Lagos</p>
              <div class="d-flex justify-content-around">
                <a href="#" class="btn btn-primary d-flex align-self-center">More...</a>
              </div>
            </div>
          </div>

          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/userevent.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">The Thermometer Mock Exam</h4>
              <p class="card-text">Keffi, Nasarawa</p>
              <div class="d-flex justify-content-around">
                <a href="#" class="btn btn-primary d-flex align-self-center">More...</a>
              </div>
            </div>
          </div>

          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/user.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">The Taegars Wedding</h4>
              <p class="card-text">Gwarimpa, Abuja</p>
              <div class="d-flex justify-content-around">
                <a href="#" class="btn btn-primary d-flex align-self-center">More...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>