<!doctype html>
<html lang="en">
  <head>
    <title>The Nigeria Education Fair</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montez|Montserrat+Alternates" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-orange">

        <a class="navbar-brand" href="index.html">EventManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-2">
             <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Felix
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item ddown-outline-items" data-toggle="modal" data-target="#exampleModal">Create Event</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" data-toggle="modal" data-target="#exampleModall">Edit Event</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="index.html">Log Out</a>
              </div>
            </li>
          </ul>
          <form class="form-inline">
            <button class="btn-resp-height btn btn-outline-orange-1 rounded-0 px-5 ml-2 border" data-toggle="modal" data-target="#exampleModal" type="button">Create Event</button>
          </form>
          

         <!--  <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->

        </div>
      </nav>
    </header>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-orange">
          <div class="modal-header">
            <h5 class="modal-title text-light" id="exampleModalLabel">Create Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <form class="form-group justify-content-center">
                <label class="lead text-secondary" for="exampleInputPassword1">Name of Event</label>
                <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="name">
                <label class="lead text-secondary" for="exampleInputUsername">Location of event</label>
                <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="Username">
                <label class="lead text-secondary" for="comment">Description of Event</label>
                ​<textarea class="form-control form-rounded" rows="3"></textarea>
                <label class="lead text-secondary" for="exampleInputPassword1">Organizers</label>
                <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="name">
                <label class="lead text-secondary" for="exampleInputPassword1">Date</label>
                <input class="btn-resp-height rounded-0 form-control form-control-lg" type="date" aria-label="date">
                <label class="lead text-secondary text-second" for="exampleFormControlFile1">Upload Event Image</label>
                <input type="file" class="form-control-file btn-resp-height text-secondary" id="exampleFormControlFile1" accept="image/*">
                <!-- <a class="button btn-resp-height rounded-0 btn btn-lg btn-outline-orange mt-4 mx-auto d-block" href="eventcreated.html" type="submit">Create Event</a> -->
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger text-light border" data-dismiss="modal">Close</button>
            <button type="button" data-toggle="modal" tabindex="1" data-target="#exampleModalll" data-dismiss="modal" class="btn-resp-height text-light marg rounded btn btn-lg btn-outline-success px-5 ml-2 border">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="jumbotron jumbotron-fluid bg-light mb-0 h-100">
        <div class="container">
          <h1 class="text-center text-purp mt-5">The Legacy Awards</h1>
            <div class="row mt-5">
              <div class="col-md-6">
                <img src="img/awardy.jpg" class="img-fluid">
              </div>
              <div class="col-md-6 p-2 border border-dark">
                <div class="d-flex align-items-center flex-column">
                  <div class=" mb-auto">
                    <p class="text-dark text-center p-2 m-2">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nulla eu egestas porta. Ut lacinia tincidunt suscipit. In at nisi in eros fringilla eleifend. Aliquam in elit sodales, semper nisi a, accumsan velit. Quisque non purus elit. Phasellus ornare gravida tempor. Curabitur cursus porttitor sem, vel rhoncus dolor efficitur ornare. Sed eget dolor eget tortor tristique ultricies sit amet in ex. Curabitur luctus consectetur velit, vel imperdiet purus dictum vel. Etiam massa nulla, elementum at tincidunt sed, suscipit vel lacus. Phasellus interdum malesuada elit, quis imperdiet urna molestie vitae. Sed consequat nibh et leo blandit bibendum. Nunc at tincidunt metus. Pellentesque aliquet tempor nibh ac iaculis.
                    </p>
                  </div>
                  <div class="pb-0">
                      <ul class="pl-0">
                        <li class="d-flex justify-content-center">
                          <a class="text-orange border-2 border-orange icon twitter mr-1" data-toggle="modal" data-target="#exampleModall" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          <a class="text-orange border-2 border-orange icon instagram mr-1" data-toggle="modal" data-target="#exampleModallll"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                      <!-- <a type="button" class="btn btn-outline-orange aconform tconform" data-toggle="modal" data-target="#exampleModall">Edit</a>
                      <a type="button" class="btn btn-outline-danger aconform tconform" data-toggle="modal" data-target="#exampleModallll">Delete</a> -->
                    </div>                  
                </div>
                <div class="modal fade" id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content bg-orange">
                        <div class="modal-header">
                          <h5 class="modal-title text-light" id="exampleModalLabel">Edit Event</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body bg-light">
                          <form class="form-group justify-content-center">
                              <label for="staticEmail" class="lead text-secondary">Event ID</label>
                              <input type="text" readonly class=" d-block text-secondary form-control-lg btn-resp-height rounded-0" id="staticEmail" value="EM172011">
                              <label class="lead text-secondary" for="exampleInputPassword1">Name of Event</label>
                              <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="name">
                              <label class="lead text-secondary" for="exampleInputUsername">Location of event</label>
                              <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="Username">
                              <label class="lead text-secondary" for="comment">Description of Event</label>
                              ​<textarea class="form-control form-rounded" rows="3"></textarea>
                              <label class="lead text-secondary" for="exampleInputPassword1">Organizers</label>
                              <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="name">
                              <label class="lead text-secondary" for="exampleInputPassword1">Date</label>
                              <input class="btn-resp-height rounded-0 form-control form-control-lg" type="date" aria-label="date">
                              <label class="lead text-secondary text-second" for="exampleFormControlFile1">Upload Event Image</label>
                              <input type="file" class="form-control-file btn-resp-height text-secondary" id="exampleFormControlFile1" accept="image/*">
                              <!-- <a class="button btn-resp-height rounded-0 btn btn-lg btn-outline-orange mt-4 mx-auto d-block" href="eventcreated.html" type="submit">Create Event</a> -->
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger border text-light" data-dismiss="modal">Close</button>
                          <button type="button" data-toggle="modal" tabindex="1" data-target="#exampleModals" data-dismiss="modal" class="btn-resp-height text-light marg rounded btn btn-lg btn-outline-success px-5 ml-2 border">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModalll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-orange" id="exampleModalLabel">Status</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-orange lead">
                          Event Created!
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-orange" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-orange" id="exampleModalLabel">Status</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body text-orange lead">
                            Event Edited!
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-orange" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="modal fade" id="exampleModallll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-orange" id="exampleModalLabel">Status</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body text-orange lead">
                            Event Deleted!
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-orange" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
      </div>
    </section>    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>