<!doctype html>
<html lang="en">
  <head>
    <title>Admin | Create center</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/practice.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-orange">

        <a class="navbar-brand" href="index.html">EventManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-2">
             <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item ddown-outline-items" href="createcenter.html">Create Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="editcenter.html">Edit Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="adminlogin.html">Log Out</a>
              </div>
            </li>
          </ul>
          <form class="form-inline">
            <a class="rounded-0 btn btn-outline-light aconform btn-resp text-orange-hover" href="centerevents.html" type="button">Browse Centers</a>
          </form>
        </div>
      </nav>
    </header>

    <section>
      <div class="jumbotron jumbotron-fluid bg-purp mb-0">
        <div class="container">
          <h1 class="text-center text-light mt-5">Center created</h1>
          <p class="lead text-center text-light">Managing Centers, simplified</p>
        </div>
      </div>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>