<!doctype html>
<html lang="en">
  <head>
    <title>Admin | Create Center</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/practice.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-orange">

        <a class="navbar-brand" href="index.html">EventManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-2">
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item ddown-outline-items" href="createcenter.html">Create Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="editcenter.html">Edit Event</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="adminlogin.html">Log Out</a>
              </div>
            </li>
          </ul>
          <form class="form-inline">
            <a class="rounded-0 btn btn-outline-light btn-resp text-orange-hover aconform" role="button" type="submit" href="createcenter.html">Browse Center</a>
          </form>
        </div>
      </nav>
    </header>

    <section>
      <div class="jumbotron jumbotron-fluid bg-purp mb-0">
        <div class="container">
          <h1 class="text-center text-light mt-5">Create center in 1 click</h1>
          <p class="lead text-center text-light">Managing centers, simplified</p>
        </div>
      </div>
    </section>
    <section class="second-section">
      <div class="container justify-content-center mt-5">
        <div class="row justify-content-center pt-2">
          <form class="form-group justify-content-center">
            <label class="lead text-secondary" for="exampleInputPassword1">Name of center</label>
            <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="name">
            <label class="lead text-secondary" for="exampleInputUsername">Location of center</label>
            <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="Username">
            <!-- <label class="lead text-secondary" for="comment">Description of Center</label>
            ​<textarea class="form-control form-rounded" rows="3"></textarea> -->
            <label class="lead text-secondary" for="number">Capacity</label>
            <input class="btn-resp-height rounded-0 form-control form-control-lg" type="number" aria-label="number">
            <label class="lead text-secondary" for="exampleFormControlFile1">Upload Center's Image</label>
            <input type="file" class="form-control-file btn-resp-height text-secondary" id="exampleFormControlFile1" accept="image/*">
            <a class="button btn-resp-height rounded-0 btn btn-lg btn-outline-orange mt-4 mx-auto d-block" href="centercreated.html" type="submit">Create Center</a>
          </form>
        </div>
      </div>
    </section>  

    
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>