<!doctype html>
<html lang="en">
  <head>
    <title>Exhibition Event</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/practice.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-orange">

        <a class="navbar-brand" href="index.html">EventManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-2">
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Felix
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item ddown-outline-items" href="createvent.html">Create Event</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="editevent.html">Edit Event</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item ddown-outline-items" href="signin.html">Log Out</a>
              </div>
            </li>
          </ul>
          <form class="form-inline">
            <a class="rounded-0 btn btn-outline-light text-orange-hover btn-resp aconform" role="button" type="submit" href="createvent.html">Create Event</a>
          </form>

         <!--  <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->

        </div>
      </nav>
    </header>

    <section>
      <div class="jumbotron jumbotron-fluid bg-light mb-0 h-100">
        <div class="container">
          <h1 class="text-center text-purp mt-5">Trade Exhibition Event</h1>
            <div class="row mt-5">
              <div class="col-md-6">
                <img src="img/tradey.jpg" class="img-fluid">
              </div>
              <div class="col-md-6 p-2 border border-dark">
                <div class="d-flex align-items-center flex-column">
                  <div class=" mb-auto">
                    <p class="text-dark text-center p-2 m-2">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo nulla eu egestas porta. Ut lacinia tincidunt suscipit. In at nisi in eros fringilla eleifend. Aliquam in elit sodales, semper nisi a, accumsan velit. Quisque non purus elit. Phasellus ornare gravida tempor. Curabitur cursus porttitor sem, vel rhoncus dolor efficitur ornare. Sed eget dolor eget tortor tristique ultricies sit amet in ex. Curabitur luctus consectetur velit, vel imperdiet purus dictum vel. Etiam massa nulla, elementum at tincidunt sed, suscipit vel lacus. Phasellus interdum malesuada elit, quis imperdiet urna molestie vitae. Sed consequat nibh et leo blandit bibendum. Nunc at tincidunt metus. Pellentesque aliquet tempor nibh ac iaculis.
                    </p>
                  </div>
                  
                  <div class="pb-0">
                    <a type="button" class="btn btn-outline-orange aconform" href="editevent.html">Edit</a>
                    <a type="button" class="btn btn-outline-danger aconform" href="deletevent.html">Trash</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
      </div>
    </section>    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>