<!doctype html>
<html lang="en">
  <head>
    <title>Homepage | EventManager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-orange">

        <a class="navbar-brand font-weight-bold" href="index.html">EventManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-2">
            <li class="nav-item dropdown">
              <a class="nav-link text-light" data-toggle="modal" data-target="#exampleModal" role= "button">Sign In
              </a>
            </li>
          </ul>
          <form class="form-inline">
          <button class="btn-resp-height btn btn-outline-orange-1 rounded-0 px-5 ml-2 border" data-toggle="modal" data-target="#exampleModall" type="button">Get Started</button>
          </form>
        </div>
      </nav>
    </header>

    <section>
      <div class="container-fluid fill_screen img-fluid d-flex align-items-center">
        <div class="container justify-content-center">
            <div class="row justify-content-center">
                <button type="button" class="btn-resp-height marg rounded btn btn-lg btn-outline-orange px-5 ml-2 border-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Explore</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content bg-orange">
                      <div class="modal-header">
                        <h5 class="modal-title text-light" id="exampleModalLabel">Sign In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body bg-light">
                        <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">                        
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger text-light border" data-dismiss="modal">Close</button>
                        <a href="userpage.html"><button type="button" class="btn-resp-height marg rounded btn btn-lg text-light btn-outline-success px-5 ml-2 border">Submit</button></a>
                      </div>
                      <div>
                          <p class="text-center text-light" data-toggle="modal" data-target="#exampleModall"><a class="text-success" data-toggle="modal" data-target="#exampleModall">Sign Up here </a>if u do not have an account yet.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content bg-orange">
                        <div class="modal-header">
                          <h5 class="modal-title text-light text-center" id="exampleModalLabel">Let's Get Started</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body bg-light">
                          <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">                        
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                              <label for="exampleInputPassword1">Repeat Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repeat Password">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger text-light border" data-dismiss="modal">Close</button>
                          <a href="userpage.html"><button type="button" class="btn-resp-height marg rounded btn btn-lg btn-outline-success text-light px-5 ml-2 border">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>