<!doctype html>
<html lang="en">
  <head>
    <title>Homepage | EventManager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../client/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montez|Montserrat+Alternates" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <!-- <div>
      <div class="wrapper top-order">
        <div class="sidebar bg-dark h-100">
          <div class="sidebar-wrapper h-100">
            <div>
              <ul class="nav list-group bg-light">
                <li class="text-orange bg-dark waves-effect pl-4 pb-3 mb-1">
                  <i class="text-center fa fa-tachometer fa-2x" />
                  <p class="font-weight-bold text-orange montfont">EVENTMANAGER</p>
                </li>
                <li class="list-group-item bg-dark mb-1 button-anim">
                  <i class="text-center text-orange fa fa-folder-open fa-2x" />
                  <p class="font-weight-bold text-orange montfont">My Events</p>
                </li>
                <li class="list-group-item bg-dark mb-1 button-anim">
                  <i class="text-center text-orange fa fa-plus-square fa-2x" />
                  <p class="font-weight-bold text-orange montfont">Create Events</p>
                </li>
                <li class="list-group-item text-orange mb-1 bg-dark button-anim">
                  <i class="text-center text-orange fa fa-power-off fa-2x" />
                  <p class="font-weight-bold text-orange montfont">Logout</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg bg-white d-flex px-5 shadow">
        <p class="font-weight-bold montfont text-orange">Dashboard</p>
        <p class="font-weight-bold montfont text-orange ml-auto">
          Hello,
        </p>
        <button class="navbar-toggler"
          type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" />
        </button>
      </nav>
    </div> -->

    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
