<!doctype html>
<html lang="en">
  <head>
    <title>Homepage | EventManager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montez|Montserrat+Alternates" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg transparent navbar-dark bg-white shadow">
      <a class="navbar-brand font-weight-bold montfont text-orange" href="index.html">EVENTMANAGER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="py-5">
      <div class="form-width mx-auto bg-white">
        <header class="shadow-down">
          <p class=" form-head text-center text-orange">Create Event</p>
        </header>
        <section>
          <div class="img-fluid d-flex justify-content-center mt-5">
              <div class="container">
                <form>
                    <div>
                        <p class="p-3 bg-orange text-light text-center lead">
                            Fill the form to create event
                        </p>
                    </div>
                    <div class="p-5">
                        <div class="form-group"><input type="name" class="form-control" id="examp class="form-group"leInput" aria-label="name" placeholder="Event Name"></div>
                        <div class="form-group"><input type="name" class="form-control" id="examp class="form-group"leInput" aria-label="name" placeholder="Event Centre"></div>
                        <div class="form-group"><input type="date" class="form-control text-secondary" id="examp class="form-group"leInput" value="2011-08-19" placeholder="Event Date"></div>
                        <div class="form-group"><input type="time" class="form-control text-secondary" id="examp class="form-group"leInput"  aria-label="name" value="13:45:00" placeholder="Event Time"></div>
                        <textarea class="form-control form-rounded mb-3" rows="3" placeholder="Event Description"></textarea>
                        <div class="form-group"><input type="password" class="form-control" id="examp class="form-group"leInputPassword1" placeholder="Password"></div>
                        <div class="form-group"><input type="password" class="form-control" id="examp class="form-group"leInputPassword1" placeholder="Confirm Password"></div>
                        <div class="form-group"><button type="button" class="btn btn-outline-orange px-5" type="button">Submit</button></div>
                    </div>
                </form>
              </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
