<!doctype html>
<html lang="en">
  <head>
    <title>Homepage | EventManager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montez|Montserrat+Alternates" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <div class="text-center bg-white h-100 fill_screen d-flex align-items-center mx-auto">
        <div class="d-flex align-items-center mx-auto">
          <div>
              <h3 class="fourohfour text-white"><u>404</u></h3>
              <p class="display-4 text-center text-white pt-5">Ooops! Sorry, we can't find this page.</p>
              <button class="btn btn-white text px-3">Back Home</button>
          </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
