<!doctype html>
<html lang="en">
  <head>
    <title>User Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montez|Montserrat+Alternates" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-orange">

        <a class="navbar-brand" href="index.html">EventManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-2">
             <li class="nav-item">
              <a class="nav-link text-light" role="button" href="index.html">Log out
              </a>
                 <!-- Modal for create event -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content bg-orange">
                      <div class="modal-header">
                        <h5 class="modal-title text-light" id="exampleModalLabel">Create Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body bg-light">
                        <form class="form-group justify-content-center">
                            <label class="lead text-secondary" for="exampleInputPassword1">Name of Event</label>
                            <input class="btn-resp-height rounded-0 form-control form-control" type="name" aria-label="name">
                            <label class="lead text-secondary" for="exampleInputUsername">Center</label>
                            <input class="btn-resp-height rounded-0 form-control form-control" type="name" aria-label="Username">
                            <label class="lead text-secondary" for="comment">Description of Event</label>
                            ​<textarea class="form-control form-rounded" rows="3"></textarea>
                            <label class="lead text-secondary" for="exampleInputPassword1">Date</label>
                            <input class="btn-resp-height rounded-0 form-control form-control" type="date">
                            <label class="lead text-secondary text-second" for="exampleFormControlFile1">Upload Event Image</label>
                            <input type="file" class="form-control-file btn-resp-height text-secondary" id="exampleFormControlFile1" accept="image/*">
                            <!-- <a class="button btn-resp-height rounded-0 btn btn-lg btn-outline-orange mt-4 mx-auto d-block" href="eventcreated.html" type="submit">Create Event</a> -->
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light border text-light" data-dismiss="modal">Close</button>
                        <button type="button" data-toggle="modal" tabindex="1" data-target="#exampleModalll" data-dismiss="modal" class="btn-resp-height text-light marg rounded btn btn-outline-light ml-2 border">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>                                                           
          <form class="form-inline">
            <button class="btn-resp-height btn btn-outline-orange-1 rounded-0 ml-2 border" data-toggle="modal" data-target="#exampleModal" type="button">Create Event</button>
          </form>
          <div class="modal fade" id="exampleModalll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-orange" id="exampleModalLabel">Status</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-orange lead">
                  Event Created!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-orange" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="container mt-5">
        <ul class="nav nav-tabs d-flex">
          <li class="nav-item">
            <a class="nav-link text-orange active" href="userpage.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-orange" href="#center">Centers</a>
          </li>
          <li class="nav-item text-orange ml-auto p-2">
              <p class="text-orange">Hi, Felix</a>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="container w-100 bg-dark">
        <p class="text-center display-3 montezfont text-orange mt-5 py-2">
            Events
        </p>
      </div>
    </section>
    <section class="my-5">
      <div class="container">
        <div class="card-deck">
          <div class="card zoom" style="width: 20rem;">
            <img class="card-img-top" src="img/tradey.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex">
                <p class="lead text-secondary">
                  Saturday, Dec 10, 2017
                </p>
                <p class="lead text-secondary ml-auto">
                  21:00
                </p>
              </div>
              <h4 class="card-title">Trade Exhibition Event</h4>
              <p class="card-text">Federal Palace Hotel, Victoria Island</p>

              <!--modal for edit,delete and create event-->
              <div class="modal fade" id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content bg-orange">
                      <div class="modal-header">
                        <h5 class="modal-title text-light" id="exampleModalLabel">Edit Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body bg-light">
                        <form class="form-group justify-content-center">
                            <label for="staticEmail" class="lead text-secondary">Event ID</label>
                            <input type="text" readonly class=" d-block text-secondary form-control-lg btn-resp-height rounded-0" id="staticEmail" value="EM172011">
                            <label class="lead text-secondary" for="exampleInputPassword1">Name of Event</label>
                            <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="name">
                            <label class="lead text-secondary" for="exampleInputUsername">Location of event</label>
                            <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="Username">
                            <label class="lead text-secondary" for="comment">Description of Event</label>
                            ​<textarea class="form-control form-rounded" rows="3"></textarea>
                            <label class="lead text-secondary" for="exampleInputPassword1">Organizers</label>
                            <input class="btn-resp-height rounded-0 form-control form-control-lg" type="name" aria-label="name">
                            <label class="lead text-secondary" for="exampleInputPassword1">Date</label>
                            <input class="btn-resp-height rounded-0 form-control form-control-lg" type="date" aria-label="date">
                            <label class="lead text-secondary text-second" for="exampleFormControlFile1">Upload Event Image</label>
                            <input type="file" class="form-control-file btn-resp-height text-secondary" id="exampleFormControlFile1" accept="image/*">
                            <!-- <a class="button btn-resp-height rounded-0 btn btn-lg btn-outline-orange mt-4 mx-auto d-block" href="eventcreated.html" type="submit">Create Event</a> -->
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger border text-light" data-dismiss="modal">Close</button>
                        <button type="button" data-toggle="modal" tabindex="1" data-target="#exampleModals" data-dismiss="modal" class="btn-resp-height text-light marg rounded btn btn-lg btn-outline-success px-5 ml-2 border">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="exampleModalll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-orange" id="exampleModalLabel">Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-orange lead">
                        Event Created!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-orange" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="exampleModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-orange" id="exampleModalLabel">Status</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-orange lead">
                          Event Edited!
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-orange" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="modal fade" id="exampleModallll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-orange" id="exampleModalLabel">Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-orange lead">
                        Event Deleted!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-orange" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- <div class="d-flex justify-content-around">
                <a href="exhibition.html" class="btn btn-orange d-flex align-self-center">More...</a>
              </div> -->
            </div>
          </div>

          <div class="card zoom" style="width: 20rem;">
            <img class="card-img-top" src="img/awardy.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex">
                <p class="lead text-secondary">
                  Wednesday, January 10, 2018
                </p>
                <p class="lead text-secondary ml-auto">
                  20:00
                </p>
              </div>
              <h4 class="card-title list-group-item">The Legacy Awards</h4>
              <p class="card-text list-group-item">Eko Hotels and Suites, Victoria Island</p>
              <div class= "container pt-2 px-0">
                <ul class="pl-0">
                  <li class="d-flex justify-content-center">
                    <a href="#" class="text-orange border-2 border-orange icon twitter mr-1" data-toggle="modal" data-target="#exampleModall" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="#" class="text-orange border-2 border-orange icon instagram mr-1" data-toggle="modal" data-target="#exampleModallll"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a class="text-orange border-2 border-orange icon twitter" href="awardevent.html"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card zoom" style="width: 20rem;">
            <img class="card-img-top" src="img/fair.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex">
                <p class="lead text-secondary">
                  Friday, Jan 26, 2018
                </p>
                <p class="lead text-secondary ml-auto">
                  17:30
                </p>
              </div>
              <h4 class="card-title list-group-item">The Nigeria Education Fair</h4>
              <p class="card-text list-group-item">Sheba Event Center, Ikeja</p>
              <div class= "container pt-2 px-0">
                <ul class="pl-0">
                  <li class="d-flex justify-content-center">
                    <a href="#" class="text-orange border-2 border-orange icon twitter mr-1" data-toggle="modal" data-target="#exampleModall" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="#" class="text-orange border-2 border-orange icon instagram mr-1" data-toggle="modal" data-target="#exampleModallll"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a class="text-orange border-2 border-orange icon twitter" href="fairevent.html"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    
                  </li>
                </ul>
              </div>
              <!-- <div class="d-flex justify-content-around">
                <a href="fairevent.html" class="btn btn-orange d-flex align-self-center">More...</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container w-100 bg-dark">
        <p class="text-center text-orange display-3 montezfont mt-5 py-2" id="center">
            Centers
        </p>
      </div>
    </section>
    <section class="my-5">
      <div class="container">
        <div class="card-deck">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/felglitz.jpg" alt="Card image cap">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4 class="card-title">Felglitz Hall</h4></li>
                <li class="list-group-item"><p class="card-text">Ikeja, Lagos</p></li>
                <li class="list-group-item"><p class="card-text">700 Capacity</p></li>
              </ul>
              <div class="d-flex justify-content-center mt-2">
                <a type="button" class="d-flex btn btn-outline-orange aconform" href="exhibition.html">Trade Exhibition Event</a>
              </div>
            </div>
          </div>

          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/texas.jpg" alt="Card image cap">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4 class="card-title">Beefal Center</h4></li>
                <li class="list-group-item"><p class="card-text">Accra, Ghana</p></li>
                <li class="list-group-item"><p class="card-text">200 Capacity</p></li>
              </ul>
              <div class="d-flex justify-content-center mt-2">
                <a type="button" class="d-flex btn btn-outline-orange aconform" href="awardevent.html">The Legacy Awards</a>
              </div>
            </div>
          </div>

          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="img/orlando.jpg" alt="Card image cap">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-blue"><h4 class="card-title">Havillah Hall</h4></li>
                <li class="list-group-item bg-blue"><p class="card-text">Ajah, Lagos</p></li>
                <li class="list-group-item bg-blue"><p class="card-text">400 Capacity</p></li>
              </ul>
              <div class="d-flex justify-content-center mt-2">
                <a type="button" class="d-flex btn btn-outline-orange aconform" href="fairevent.html">The Nigeria Education Fair</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-5">
      <div class="container">
        <div class="row bg-white border border-white shadow p-3">
          <div class="col-md-4">
            <div class="img-fluid">
              <img class="img-fluid" src="img/tradey.jpg" alt="Card image cap">
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex">
              <p class="lead text-secondary">
                Saturday, Dec 10, 2017
              </p>
              <p class="lead text-secondary ml-auto">
                21:00
              </p>
            </div>
            <h4 class="card-title list-group-item">Trade Exhibition Event</h4>
            <p class="card-text list-group-item">Federal Palace Hotel, Victoria Island</p>
            <div class= "container pt-2 px-0">
              <ul class="pl-0">
                <li class="d-flex justify-content-center">
                  <a class="text-orange border-2 border-orange icon twitter mr-1" data-toggle="modal" data-target="#exampleModall" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a class="text-orange border-2 border-orange icon instagram mr-1" data-toggle="modal" data-target="#exampleModallll"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <a class="text-orange border-2 border-orange icon twitter mr-1" href="exhibition.html"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
        <!-- <div class="card-deck">
          <div class="card zoom" style="width: 20rem;">
            <img class="card-img-top" src="img/tradey.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex">
                <p class="lead text-secondary">
                  Saturday, Dec 10, 2017
                </p>
                <p class="lead text-secondary ml-auto">
                  21:00
                </p>
              </div>
              <h4 class="card-title list-group-item">Trade Exhibition Event</h4>
              <p class="card-text list-group-item">Federal Palace Hotel, Victoria Island</p>
              <div class= "container pt-2 px-0">
                <ul class="pl-0">
                  <li class="d-flex justify-content-center">
                    <a class="text-orange border-2 border-orange icon twitter mr-1" data-toggle="modal" data-target="#exampleModall" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="text-orange border-2 border-orange icon instagram mr-1" data-toggle="modal" data-target="#exampleModallll"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a class="text-orange border-2 border-orange icon twitter mr-1" href="exhibition.html"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->



    <footer class="bg-dark mt-5 h-15 pb-3">
        <div class= "container pt-5">
          <ul class="link">
            <li class="d-flex justify-content-center">
              <a href="#" class="text-light border-2 border-orange icon facebook mr-1"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#" class="text-light border-2 border-orange icon twitter mr-1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#" class="text-light border-2 border-orange icon instagram mr-1"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#" class="text-light border-2 border-orange icon envelope"><i class="fa fa-envelope" aria-hidden="true"></i></a>            
            </li>
          </ul>
        </div>
  
        <div class="container d-flex justify-content-center">
          <h5 class="text-center mb-0 text-light">
            © 2017 EventManager. All rights reserved
          </h5>
        </div>
      </footer>

    
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>