
* {
	font-family: "Benton Sans";
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
  text-decoration: none !important;

}

.fill_screen {
  background: url(../img/evenn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
	background-position: center center;
	min-height: 100vh;
}

.dot {
  /* background-image: url(../img/dot.png); */
  background: url(../img/dot.png)repeat 0px 0px;
  background-size: 2px;
  -webkit-background-size: 2px;  
  background-repeat: repeat;
  background-size: 2px;
}

.zoom img {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
}

.zoom:hover img {
  -moz-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

.border-10 {
  border: 10px solid;
}

.border-2 {
  border: 2px solid;
}

.border-orange {
  border: 2px solid;
  border-color: #f76125;
}

.icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 2.4em;  
  display: inline-block;
  font-size: 12px;
  border: 2px solid #f76125;
}

.iconn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2.4em;  
  /* display: inline-block; */
  font-size: 12px;
  border: 2px solid #f76125;
}

.facebook:hover {
  background-color:#3b5998!important;
	border-color:#3b5998!important;
}

.twitter:hover{
	background:#1da1f2;
	border-color:#1da1f2;
}

.instagram:hover{
	background:#fb3958;
	border-color:#fb3958;
}

.envelope:hover{
	background:#000;
	border-color:#000;
}

.wrap {
  flex-wrap: wrap;
}

.montfont {
  font-family: 'Montserrat Alternates', sans-serif;
}

.montezfont {
  font-family: 'Montez', cursives;
}

.box {
  width: calc(33.3333% - 20px);
  margin: 10px;
}

.position-relative {
  position: relative;
}

input[type="submit"], input[type="button"], a {
  -webkit-transition: 1s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 1s ease-in;
}

.transparent {
  background-color: rgba(0,0,0,0.5);
}

.form-control{
	background-color: rgba(255,255,255,0.7)!important;
}

.btn-outline-light:hover {
  color: #212529 !important;
 /* background-color: #f8f9fa;
  border-color: #f8f9fa;*/
}

.bg-black {
	background-color: rgba(33, 37, 41, 0.7)!important;
}

.bg-purp{

	background-color: #191f5b !important;
}
.bg-red{

	background-color: #dc3545!important
}

.bg-orange {
	background-color: #f76125!important;
}

.bg-blue{
	background-color: #007bff;
}

.text-orange{
	color: #f6682f!important;
}

.text-purp{
  color: #191f5b !important;
}

.text-orange-hover:hover{
  color: #f6682f !important;
}

.bg-orange-transparent{
	background-color: rgba(246, 104, 47,0.5)!important;
}

.btn-outline-orange {
  color: #f6682f;
  background-color: transparent;
  background-image: none;
  border-color: #f6682f!important;
}

.btn-outline-light:hover {
  color: #f6682f!important;  
}

.btn-outline-orange:hover {
  color: #fff;
  background-color: #f6682f;
  border-color: #f6682f !important;
}

.no-underline{
	color: #868e96!important;
}

.no-underline:hover{
	text-decoration: none !important;
	color: #ffffff !important; 
}

.aconform{
	-webkit-appearance: inherit!important;
}

.tconform{
  color: #f6682f!important;
}
.tconform:hover{
  color: #fff!important;
}

.blue-outline{
	border-color: #007bff!important;
}

.ddown-outline-items:hover{
	  color: #fff!important;
	  background-color: #f6682f!important;
}

.btn-orange {
  color: #fff;
  background-color: #f6682f;
  border-color: #f6682f;
}

.btn-orange:hover {
  color: #fff;
  background-color: #ff8c00;
  border-color: #ff8c00;
}
.btn-outline-orange-1 {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff!important;
}

.btn-outline-orange-1:hover {
  color: #f6682f;
  background-color: #fff;
  border-color: #f6682f !important;
}




/*Media Queries*/

@media (max-width: 320px) {

   h1 {
    font-size: 1.25rem !important; 
   	padding-left: 5px !important;
   	padding-right: 5px !important;
   }
    p { 
      font-size: 0.8rem !important; 
   }

   .btn-resp{
   	width: 100%;
   }

   .btn-resp-height{
   	line-height: 1rem !important;
   	margin-left: 3px !important;
   	margin-right: 3px !important;
   }

   .second-section {
   	padding-left: 5px !important;
   	padding-right: 5px !important;
   }

   .padd{
   	padding-top: 5px !important;
   }
}

@media (min-width: 321px) and (max-width: 565px) {

   h1 { 
      font-size: 1.5rem !important; 
      padding-top: 5px !important;
      padding-bottom: 5px !important;
   }
    p { 
      font-size: 0.8rem !important; 
   }
    .btn-resp-height{
   	line-height: 1rem !important;
   	margin-left: 5px !important;
   	margin-right: 5px !important;
   }
   .marg{
   	margin: 5px!important;
   }
}

@media (min-width: 566px) and (max-width: 767px) {

   h1, { 
      font-size: 2.5rem !important; 
   }
   p { 
      font-size: 0.8rem !important; 
   }

}

@media (min-width: 768px) and (max-width: 991px) {

   h1 { 
      font-size: 3rem !important; 
   }
   p { 
      font-size: 0.7rem !important; 
   }

}

@media (min-width: 992px) and (max-width: 1199px) {

   h1 { 
      font-size: 3.5rem !important; 
   }
    p { 
      font-size: 0.9rem !important; 
   }
}

@media (min-width: 1200px){

   h1 { 
      font-size: 3.5rem !important; 
   }
}